*
    margin: 0
    padding: 0
    box-sizing: border-box

.wrapper_text
    padding: 5rem
    .text
        font-size: 1.5rem
        //font-size: 23px
        line-height: 1.5

.section_p
    height: 80vh



.img-gallery img
    height: 400px
    /*width: auto !important;*/

.main-slider
    display: flex
    justify-content: center
    align-items: center
    width: 98%

.arts_popup
    width: 80%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-row-gap: 20px
    grid-column-gap: 40px
    margin: 20px auto
    //flex-wrap: wrap
    //justify-content: space-around

.arts_img
    display: flex
    justify-content: center


.img-gallery
    display: flex !important
    justify-content: center
    /*width: 50vh;*/


.arts_img img
    height: 600px
    width: 40vw


@media screen and (max-width: 768px)
    .arts_popup
        width: 100%
        display: grid
        grid-template-columns: 1fr
        grid-row-gap: 20px

    .arts_img img
        height: 600px
        width: 100vw


@media screen and (min-width: 769px) and (max-width: 1023px)
    .arts_img img
        height: 400px
        width: 100%

    .arts_popup
        width: 98%
        margin: 20px 1%
        grid-column-gap: 20px
